// User Dashboard
.dashboardCodes{
    position: relative;
    display: inline-block;
    // border: 2px solid red;
}

.dashboardCodes figure{
    position: relative;
    display: inline-block;
    // border: 2px solid blue;
}

.dashboardCodes figure .image{
    position: relative;
    display: inline-block;
    // border: 2px solid yellow;
}

.dashboardCodes .description{
    position: relative;
    width: auto;
    height: auto;
    // border: 2px solid red;
    display: inline-block;
}

.dashboardCodes .description .codeTitles{
    position: relative;
    width: 100%;
    height: auto;
    // border: 2px solid green;
    display: inline-block;
    padding: none;
}

.dashboardCodes .description .codeTitles h3{
    // border: 2px solid blue;
    display: block;
}

.dashboardCodes .description .codeTitles small{
    // border: 2px solid blue;
    display: block;
    margin: auto;
}

// Edit Page
#editPage form{
    // border: 2px solid green;
}

#editPage .row{
    // border: 2px solid red;
    background: white;
}

#editPage .row .code{
    // border: 2px solid blue;
}

#editPage .row figure{
    // border: 2px solid green;
}

#editPage .row .codeProperties{
    // border: 2px solid blue;
}

#editPage .row .codeProperties .container{
    // border: 2px solid green;
}

#editPage .row .codeProperties .container .form-group{
    // border: 2px solid yellow;
}

#editPage .row .codeProperties .container .form-group select:hover{
    cursor: pointer;
}

#editPage .row .codeProperties .container .form-group .or{
    display: inline-block;
    // border: 2px solid red;
    display: flex;
}

#editPage .row .codeProperties .container .form-group .or p{
    position: relative;
    width: auto;
    height: auto;
    margin: auto;
    margin-bottom: 5px;
}

#editPage .row .codeProperties .container .form-group .container{
    width: 47%;
    display: inline-block;
    // border: 2px solid red;
}

#editPage .row .codeProperties .container .form-group .container.makeSP{
    width: auto;
    display: flex;
}

#editPage .row .codeProperties .container .form-group .container a{
    position: relative;
    width: auto;
    height: auto;
    margin: auto;
    margin-right: 0px;
    margin-bottom: 0px;
}

#editPage .row .textEntries{
    // border: 2px solid blue;
}

#editPage .row .urlEntries{
    // border: 2px solid blue;
}

#editPage .row .fileEntries{
    // border: 2px solid blue;
}

#editPage .row .row{
    // border: 2px solid red;
}

#editPage .row .row h2{
    width: 100%;
    // border: 2px solid green;
}

#editPage .row .row h2:hover{
    cursor: pointer;
}

#editPage .row .row h2 i{
    // border: 2px solid green;
    font-size: 25px;
}

#editPage .row .form-group hr{
    // border: 2px solid red;
}
