.dashboardCodes{
    position: relative;
    display: inline-block;
    // border: 2px solid red;
}

figure{
    position: relative;
    display: inline-block;
    // border: 2px solid blue;
}

figure .image{
    position: relative;
    display: inline-block;
    // border: 2px solid yellow;
}

.description{
    // border: 2px solid green;
}